{% load static %}
<!doctype html>
<html lang="en" class="light-theme">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--favicon-->
  <link rel="icon" href="{% static 'assets/images/favicon-32x32.webp' %}" type="image/webp" />

  <!-- CSS files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/slick/slick-theme.css' %}" />
  <link href="{% static 'assets/plugins/OwlCarousel/css/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/app.css' %}" rel="stylesheet" />

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/dark-theme.css' %}" rel="stylesheet">

  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
</head>

<body>

     <!--page loader-->
     <div class="loader-wrapper">
      <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Загрузка...</span>
        </div>
      </div>
    </div>
   <!--end loader-->

  <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand-xl w-100 navbar-dark container gap-3">
      <a class="navbar-brand d-none d-xl-inline" href="{% url 'index' %}"><img src="{% static 'assets/images/logo.webp' %}" class="logo-img" alt=""></a>
      <a class="mobile-menu-btn d-inline d-xl-none" href="#" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar">
        <i class="bi bi-list"></i>
      </a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <div class="offcanvas-logo"><img src="{% static 'assets/images/logo.webp' %}" class="logo-img" alt="">
          </div>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body primary-menu">

          <ul class="navbar-nav justify-content-start gap-1">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
            </li>
          </ul>

        </div>
      </div>
      <!--
      <ul class="navbar-nav secondary-menu flex-row">
        <li class="nav-item">
          <a class="nav-link dark-mode-icon" href="#">
            <div class="mode-icon">
              <i class="bi bi-moon"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search.html"><i class="bi bi-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wishlist.html"><i class="bi bi-suit-heart"></i></a>
        </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
          <a class="nav-link position-relative" href="#">
            <div class="cart-badge">8</div>
            <i class="bi bi-basket2"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="account-dashboard.html"><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>
      -->
    </nav>
  </header>
  <!--end top header-->

{% block content %}
{% endblock %}

  <!--start footer-->
  <section class="footer-section bg-section-2 section-padding">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-4 g-4">
        <div class="col">
          <div class="footer-widget-6">
            <img src="assets/images/logo.webp" class="logo-img mb-3" alt="">
            <h5 class="mb-3 fw-bold">О компании</h5>
             <p class="mb-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

             <a class="link-dark" href="{% url 'about' %}">Подробнее</a>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-7">
          </div>
        </div>
       <div class="col">
          <div class="footer-widget-8">
            <h5 class="mb-3 fw-bold">Меню</h5>
             <ul class="widget-link list-unstyled">
               <li><a href="{% url 'index' %}">Главная</a></li>
               <li><a href="{% url 'catalog' %}">Каталог</a></li>
               <li><a href="{% url 'about' %}">О нас</a></li>
               <li><a href="{% url 'contact' %}">Контакты</a></li>
             </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget-9">
            <h5 class="mb-3 fw-bold">Следите за нами</h5>
             <div class="social-link d-flex align-items-center gap-2">
               <a href="javascript:;"><i class="bi bi-facebook"></i></a>
               <a href="javascript:;"><i class="bi bi-twitter"></i></a>
               <a href="javascript:;"><i class="bi bi-linkedin"></i></a>
               <a href="javascript:;"><i class="bi bi-youtube"></i></a>
               <a href="javascript:;"><i class="bi bi-instagram"></i></a>
             </div>
              {% for Organization in contact_data %}
             <div class="mb-3 mt-3">
              <h5 class="mb-0 fw-bold">Электронная почта</h5>
              <p class="mb-0 text-muted">{{ Organization.email }}</p>
             </div>
             <div class="">
              <h5 class="mb-0 fw-bold">Телефон</h5>
              <p class="mb-0 text-muted">{{ Organization.phone }}</p>
             </div>
              {% endfor %}
          </div>
        </div>
       </div><!--end row-->
       <div class="my-5"></div>


    </div>
  </section>
  <!--end footer-->

  <footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">© 2022. www.glocs.ru.</p>
  </footer>


  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
  <!--End Back To Top Button-->


  <!-- JavaScript files -->
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/index.js' %}"></script>
  <script src="{% static 'assets/js/loader.js' %}"></script>
  <script src="{% static 'assets/plugins/OwlCarousel/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/plugins/OwlCarousel/js/owl.carousel2.thumbs.min.js' %}"></script>
  <script src="{% static 'assets/js/product-details.js' %}"></script>

</body>

</html>