{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--start page content-->
    <div class="page-content">


       <!--start breadcrumb-->
       <div class="py-4 border-bottom">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ brand.name }}</li>
            </ol>
          </nav>
        </div>
       </div>
       <!--end breadcrumb-->


       <!--start product grid-->
       <section class="py-4">
        <h5 class="mb-0 fw-bold d-none">Товары</h5>
        <div class="container">
          <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-funnel me-1"></i> Filters</span></div>
           <div class="row">


                <div class="col-12 col-xl-3">
                    <div class="btn-mobile-filter d-xl-none"><i class='bx bx-slider-alt'></i>
                    </div>
                    <div class="filter-sidebar d-none d-xl-flex">
                        <div class="card rounded-0 w-100">
                            <div class="card-body">

                                <form action="{% url 'brand-glocs' %}" method="get">
                                    <div class="product-categories">
                                        <h6 class="text-uppercase mb-3">ВИД ОБУВИ</h6>
                                        <ul class="list-unstyled mb-0 categories-list">
                                            <li>
                                                <div class="form-check">
                                                    {% for type in types %}
                                                    <input class="form-check-input" type="checkbox" name="type" value="{{ type }}">
                                                    <label class="form-check-label" for="{{ type }}">{{ type }}</label>
                                                  {% endfor %}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                <hr>
                                    <h6>Категория</h6>
                                  {% for category in categories %}
                                    <input class="form-check-input"  type="checkbox" name="category" value="{{ category }}"> {{ category }}<br>
                                  {% endfor %}
                                <hr>
                                    <h6>Цвет</h6>
                                   {% for color in colors %}
                                    <input type="checkbox" name="color" value="{{ color }}"> {{ color }}<br>
                                  {% endfor %}
                                <hr>
                                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Отправить">
                                </form>

                                <hr class="pt-3">
                                <div class="align-items-center d-flex d-xl-none">
                                    <h6 class="text-uppercase mb-0">Филтр</h6>
                                    <div class="btn-mobile-filter-close btn-close ms-auto cursor-pointer"></div>
                                </div>


                                <hr class="d-flex d-xl-none" />
                                <div class="product-categories">
                                    <h6 class="text-uppercase mb-3">Вид обуви</h6>
                                    <ul class="list-unstyled mb-0 categories-list">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Small">
                                                <label class="form-check-label" for="Small">Сабо</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Small">
                                                <label class="form-check-label" for="Small">Сапоги</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Small">
                                                <label class="form-check-label" for="Small">Шлепки</label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <hr>
                                <div class="size-range">
                                    <h6 class="text-uppercase mb-3">Категория</h6>
                                    <ul class="list-unstyled mb-0 categories-list">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Small">
                                                <label class="form-check-label" for="Small">Женские</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Medium">
                                                <label class="form-check-label" for="Medium">Мужские</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Large">
                                                <label class="form-check-label" for="Large">Детские</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="product-brands">
                                    <h6 class="text-uppercase mb-3">Бренд</h6>
                                    <ul class="list-unstyled mb-0 categories-list">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Adidas">
                                                <label class="form-check-label" for="Adidas">GLOCS</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="Armani">
                                                <label class="form-check-label" for="Armani">БУКВЫ</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="CalvinKlein">
                                                <label class="form-check-label" for="CalvinKlein">ЭРА-РА</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="product-colors">
                                    <h6 class="text-uppercase mb-3">Цвет</h6>
                                    <ul class="list-unstyled mb-0 categories-list">
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-black"></div>
                                                <p class="mb-0 ms-3">Черный</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-warning"></div>
                                                <p class="mb-0 ms-3">Желтый</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-danger"></div>
                                                <p class="mb-0 ms-3">Красный</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-primary"></div>
                                                <p class="mb-0 ms-3">Синий</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-white"></div>
                                                <p class="mb-0 ms-3">Белый</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-success"></div>
                                                <p class="mb-0 ms-3">Зеленый</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center cursor-pointer">
                                                <div class="color-indigator bg-info"></div>
                                                <p class="mb-0 ms-3">Небесно-голубой</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


              <div class="col-12 col-xl-9">
                <div class="shop-right-sidebar">
                  <div class="card rounded-0">
                    <div class="card-body p-2">
                      <div class="d-flex align-items-center justify-content-between bg-light p-2">
                         <div class="product-count">Каталог {{ brand.name }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="product-grid mt-4">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                        {% for Product in products %}
                      <div class="col">
                        <div class="card border shadow-none">
                          <div class="position-relative overflow-hidden">
                            <a href="{% url 'product-detail' Product.pk %}">
                                {% for image in Product.image_gallery.all|slice:"2:3" %}
                                    <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                                {% endfor %}
                            </a>
                          </div>
                          <div class="card-body border-top">
                            <h5 class="mb-0 fw-bold product-short-title">{{ Product }}</h5>
                            <p class="mb-0 product-short-name">{{ Product.color }}</p>
                          </div>
                        </div>
                      </div>
                        {% empty %}
                            <p>Нет доступных товаров.</p>
                        {% endfor %}
                  </div><!--end row-->
                </div>

                </div>
              </div>
           </div><!--end row-->
        </div>
      </section>
       <!--start product details-->




     </div>
      <!--end page content-->

{% endblock %}