{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--start page content-->
    <div class="page-content">


       <!--start breadcrumb-->
       <div class="py-4 border-bottom">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ brand.name }}</li>
            </ol>
          </nav>
        </div>
       </div>
       <!--end breadcrumb-->


       <!--start product grid-->
       <section class="py-4">
        <h5 class="mb-0 fw-bold d-none">Товары</h5>
        <div class="container">
          <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-funnel me-1"></i> Filters</span></div>
           <div class="row">


                <div class="col-12 col-xl-3">
                    <div class="btn-mobile-filter d-xl-none"><i class='bx bx-slider-alt'></i>
                    </div>
                    <div class="filter-sidebar d-none d-xl-flex">
                        <div class="card rounded-0 w-100">
                            <div class="card-body">

                                <form method="get">
                                    <div class="product-categories">
                                        <h6 class="text-uppercase mb-3">ВИД ОБУВИ</h6>
                                        <ul class="list-unstyled mb-0 categories-list">
                                            {% for type in types %}
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="type" value="{{ type }}">
                                                    <label class="form-check-label" for="{{ type }}">{{ type }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                <hr>
                                    <div class="product-categories">
                                    <h6 class="text-uppercase mb-3">Категория</h6>
                                        <ul class="list-unstyled mb-0 categories-list">
                                            {% for category in categories %}
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input"  type="checkbox" name="category" value="{{ category }}">
                                                    <label class="form-check-label" for="{{ category }}">{{ category }}</label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                <hr>
                                <div class="product-categories">
                                    <h6 class="text-uppercase mb-3">Цвет</h6>
                                        <ul class="list-unstyled mb-0 categories-list">
                                            {% for color in colors %}
                                            <li>
                                                <div class="d-flex align-items-center cursor-pointer">
                                                <div class="pe-3"><input class="form-check-input"  type="checkbox" name="color" value="{{ color }}"></div>
                                                <div class="color-indigator border border-black border-1" style="background-color: {{ color.tag }}" ></div>
                                                <p class="mb-0 ms-3">{{ color }}</p>
                                            </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                <hr>
                                    <div class="d-grid gap-2">
                                        <input type="submit" class="btn btn-outline-primary" value="Показать">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


              <div class="col-12 col-xl-9">
                <div class="shop-right-sidebar">
                  <div class="card rounded-0">
                    <div class="card-body p-2">
                      <div class="d-flex align-items-center justify-content-between bg-light p-2">
                         <div class="product-count">Каталог {{ brand.name }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="product-grid mt-4">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                        {% for Product in products %}
                      <div class="col">
                        <div class="card border shadow-none">
                          <div class="position-relative overflow-hidden">
                            <a href="{% url 'product-detail' Product.pk %}">
                                {% for image in Product.image_gallery.all|slice:"2:3" %}
                                    <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                                {% endfor %}
                            </a>
                          </div>
                          <div class="card-body border-top">
                            <h5 class="mb-0 fw-bold product-short-title">{{ Product }}</h5>
                            <p class="mb-0 product-short-name">{{ Product.color }}</p>
                          </div>
                        </div>
                      </div>
                        {% empty %}
                            <p>Нет доступных товаров.</p>
                        {% endfor %}
                  </div><!--end row-->
                </div>

                </div>
              </div>
           </div><!--end row-->
        </div>
      </section>
       <!--start product details-->




     </div>
      <!--end page content-->

{% endblock %}