{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--start page content-->
    <div class="page-content">


       <!--start breadcrumb-->
       <div class="py-4 border-bottom">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Контакты</li>
            </ol>
          </nav>
        </div>
       </div>
       <!--end breadcrumb-->


       <!--start product details-->
       <section class="section-padding">
        <div class="container">

          <div class="separator mb-3">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Найдите нас на карте</h3>
            <div class="line"></div>
          </div>

          <div class="border p-3">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e77c8575620b7946fded26698afa2e2587cbd74dd2cc774d41308e37483fa80&amp;source=constructor" width="1280" height="450" frameborder="1"></iframe>
          </div>

           <div class="separator my-3">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Выбирайте нас</h3>
            <div class="line"></div>
          </div>

          <div class="row g-4">
            <div class="col-xl-8">
              <div class="p-4 border">
                <form>
                  <div class="form-body">
                    <h4 class="mb-0 fw-bold">Напишите нам</h4>
                    <div class="my-3 border-bottom"></div>
                    <div class="mb-3">
                      <label class="form-label">Ваше имя</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Ваш Email</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Номер телефона</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Сообщение</label>
                      <textarea class="form-control rounded-0" rows="4" cols="4"></textarea>
                    </div>
                    <div class="mb-0">
                      <a href="thank-you.html" class="btn btn-dark btn-ecomm">Отправить сообщение</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
              {% for Organization in contact_data %}
            <div class="col-xl-4">
              <div class="p-3 border">
                <div class="address mb-3">
                  <h5 class="mb-0 fw-bold">Адрес</h5>
                  <p class="mb-0 font-12">{{ Organization.postcode }}</p>
                  <p class="mb-0 font-12">{{ Organization.town }}</p>
                  <p class="mb-0 font-12">{{ Organization.address }}</p>
                </div>
                <hr>
                <div class="phone mb-3">
                  <h5 class="mb-0 fw-bold">Телефон</h5>
                  <p class="mb-0 font-13">{{ Organization.phone }}</p>
                </div>
                <hr>
                <div class="email mb-3">
                  <h5 class="mb-0 fw-bold">Email</h5>
                  <p class="mb-0 font-13">{{ Organization.email }}</p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>
      </section>
       <!--start product details-->

     </div>
    <!--end page content-->

{% endblock %}