{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% block content %}

    <!--start page content-->
    <div class="page-content">


       <!--start breadcrumb-->
       <div class="py-4 border-bottom">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Контакты</li>
            </ol>
          </nav>
        </div>
       </div>
       <!--end breadcrumb-->


       <!--start product details-->
       <section class="section-padding">
        <div class="container">

          <div class="separator mb-3">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Найдите нас на карте</h3>
            <div class="line"></div>
          </div>

          <div class="border p-3">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e77c8575620b7946fded26698afa2e2587cbd74dd2cc774d41308e37483fa80&amp;source=constructor" width="1280" height="450" frameborder="1"></iframe>
          </div>

           <div class="separator my-3">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Выбирайте нас</h3>
            <div class="line"></div>
          </div>

          <div id="fback"  class="row g-4">
{#            <div class="col-xl-12">#}
{#              <div class="p-4 border">#}
{#                <form method="POST">#}
{#                  {% csrf_token %}#}
{#                  <div class="form-body">#}
{#                    <h4 class="mb-0 fw-bold">Напишите нам</h4>#}
{#                    <div class="my-3 border-bottom"></div>#}
{#                    <div class="mb-3">#}
{#                      <label class="form-label">Ваше имя</label>#}
{#                      {% crispy_field fback.name 'class' 'form-control textInput required' 'placeholder' ' ' %}#}
{#                    </div>#}
{#                    <div class="mb-3">#}
{#                      <label class="form-label">Ваш Email</label>#}
{#                      {% crispy_field fback.email 'class' 'form-control emailinput required' 'placeholder' ' ' %}#}
{#                    </div>#}
{#                    <div class="mb-3">#}
{#                      <label class="form-label">Номер телефона</label>#}
{#                      {% crispy_field fback.phone 'class' 'form-control textInput' 'placeholder' ' ' %}#}
{#                    </div>#}
{#                    <div class="mb-3">#}
{#                      <label class="form-label">Сообщение</label>#}
{#                      {% crispy_field fback.comment 'class' 'form-control md-textarea' 'placeholder' ' ' %}#}
{#                    </div>#}
{#                    <div class="md-form mb-2">#}
{#                        <input type="checkbox" id="id_agreement" name="agreement">#}
{#                        <!-- Здесь ссылка на внешний документ -->#}
{#                        <a href="{% url 'agreement' %}" target="_blank">Согласие на обработку персональных данных</a>#}
{#                    </div>#}
{#                    <div class="mb-0">#}
{#                      <button type="submit" class="btn btn-dark btn-ecomm" onclick="return validateForm()">Отправить сообщение <i class="fas fa-paper-plane-o ml-1"></i></button>#}
{#                    </div>#}
{#                  </div>#}
{#                </form>#}
{#              </div>#}
{#            </div>#}
              {% for Organization in contact_data %}
            <div class="col-xl-12">
              <div class="p-3 border">
                <div class="address mb-3">
                  <h5 class="mb-0 fw-bold">Адрес</h5>
                  <p class="mb-0 font-12">{{ Organization.postcode }}</p>
                  <p class="mb-0 font-12">{{ Organization.town }}</p>
                  <p class="mb-0 font-12">{{ Organization.address }}</p>
                </div>
                <hr>
                <div class="phone mb-3">
                  <h5 class="mb-0 fw-bold">Телефон</h5>
                  <p class="mb-0 font-13">{{ Organization.phone }}</p>
                </div>
                <hr>
                <div class="email mb-3">
                  <h5 class="mb-0 fw-bold">Email</h5>
                  <p class="mb-0 font-13">{{ Organization.email }}</p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>
      </section>
       <!--start product details-->

     </div>
    <!--end page content-->
<script>
    function validateForm() {
        var agreementCheckbox = document.getElementById("id_agreement");
        if (!agreementCheckbox.checked) {
            alert("Пожалуйста, согласитесь с условиями обработки персональных данных");
            return false; // Остановить отправку формы
        }
        return true; // Разрешить отправку формы
    }
</script>
{% endblock %}