{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!--start page content-->
  <div class="page-content">

    <!--start carousel-->
    <section class="slider-section">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></button>
        </div>
        <div class="carousel-inner">
                {% for Banner in sliders %}
              <div id="item" class="carousel-item active bg-primary">
                <div class="row d-flex align-items-center">
                  <div id="image" class="col position-relative">
                    <img src="{{ Banner.image_desktop.url }}" class="w-100 desktop-image" alt="...">
                    <img src="{{ Banner.image_mobile.url }}" class="img-fluid w-100 mobile-image" alt="...">
                  </div>
                  <div id="text" class="col d-none d-lg-flex justify-content-start align-items-center position-absolute top-50 start-15 translate-middle-y">
                    <div class="">
                      <h3 class="h3 fw-light text-white fw-bold">{{ Banner.title }}</h3>
                      <h1 class="h1 text-white fw-bold">{{ Banner.subtitle }}</h1>
                      <p class="text-white fw-bold"><i>{{ Banner.description }}</i></p>
                      <div class=""><a class="btn btn-dark btn-ecomm" href="{{ Banner.link }}">{{ Banner.button_name }}</a></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!--end carousel-->


    <!--start Featured Products slider-->
    <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Рекомендуемые товары</h3>
          <p class="mb-0 text-capitalize">Популярные у покупателей модели</p>
        </div>
        <div class="product-thumbs">
            {% for Product in featured %}
          <div class="card">
            <div class="position-relative overflow-hidden">
              <div
                class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                <a href="{{ Product.wb_link }}"><i class="bi bi-basket3"></i></a>
              </div>
              <a href="{% url 'product-detail' Product.pk %}">
                {% for image in Product.image_gallery.all|slice:"2:3" %}
                    <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                {% endfor %}
              </a>
            </div>
            <div class="card-body">
              <div class="product-info text-center">
                <h6 class="mb-1 fw-bold product-name">{{ Product }}</h6>
                <p class="mb-0 product-short-name">{{ Product.color }}</p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <!--end Featured Products slider-->


    <!--start tabular product-->
    <section class="product-tab-section section-padding bg-light">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Последнее поступление</h3>
          <p class="mb-0">Представляем вам наши новые модели</p>
        </div>
        <div class="row">
          <div class="col-auto mx-auto">
            <div class="product-tab-menu table-responsive">
              <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#new-arrival" type="button">САБО</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="pill" data-bs-target="#best-sellar" type="button">ШЛЕПАНЦЫ</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="pill" data-bs-target="#trending-product"
                    type="button">EXCLUSIVE</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="pill" data-bs-target="#special-offer" type="button">АКСЕССУАРЫ</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="tab-content tabular-product">
          <div class="tab-pane fade show active" id="new-arrival">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
                {% for Product in sabo %}
              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <div
                    class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                    <a href="{{ Product.wb_link }}"><i class="bi bi-basket3"></i></a>
                  </div>
                    <a href="{% url 'product-detail' Product.pk %}">
                      {% for image in Product.image_gallery.all|slice:"2:3" %}
                        <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                      {% endfor %}
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                      <h6 class="mb-1 fw-bold product-name">{{ Product }}</h6>
                      <div class="ratings mb-1 h6">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="best-sellar">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
              {% for Product in shlyopki %}
              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <a href="{% url 'product-detail' Product.pk %}">
                      {% for image in Product.image_gallery.all|slice:"2:3" %}
                        <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                      {% endfor %}
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                      <h6 class="mb-1 fw-bold product-name">{{ Product }}</h6>
                      <div class="ratings mb-1 h6">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="trending-product">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
              {% for Product in exclusive %}
              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <a href="{% url 'product-detail' Product.pk %}">
                      {% for image in Product.image_gallery.all|slice:"2:3" %}
                        <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                      {% endfor %}
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                      <h6 class="mb-1 fw-bold product-name">{{ Product }}</h6>
                      <div class="ratings mb-1 h6">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="special-offer">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
              {% for Product in accessories %}
              <div class="col">
                <div class="card">
                  <div class="position-relative overflow-hidden">
                    <a href="{% url 'product-detail' Product.pk %}">
                      {% for image in Product.image_gallery.all|slice:"2:3" %}
                        <img src="{{ image.image.url }}" class="card-img-top"   alt="First Image">
                      {% endfor %}
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="product-info text-center">
                      {% if Product.djibits %}
                      <h6 class="mb-1 fw-bold product-name">{{ Product }} {{ Product.djibits }}</h6>
                      {% else %}
                      <h6 class="mb-1 fw-bold product-name">{{ Product }}</h6>
                      {% endif %}
                      <div class="ratings mb-1 h6">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end tabular product-->


    <!--start features-->
    <section class="product-thumb-slider section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Что мы предлагаем!</h3>
          <p class="mb-0 text-capitalize">The purpose of lorem ipsum</p>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 g-4">
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-primary border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-primary">
                  <i class="bi bi-truck"></i>
                </div>
                <h5 class="fw-bold">Бесплатная доставка</h5>
                <p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-danger border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-danger">
                  <i class="bi bi-credit-card"></i>
                </div>
                <h5 class="fw-bold">Secure Payment</h5>
                <p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-success border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-success">
                  <i class="bi bi-minecart-loaded"></i>
                </div>
                <h5 class="fw-bold">Free Returns</h5>
                <p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="card depth border-0 rounded-0 border-bottom border-warning border-3 w-100">
              <div class="card-body text-center">
                <div class="h1 fw-bold my-2 text-warning">
                  <i class="bi bi-headset"></i>
                </div>
                <h5 class="fw-bold">24/7 Поддержка</h5>
                <p class="mb-0">Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </section>
    <!--end features-->


    <!--start special product
    <section class="section-padding bg-section-2">
      <div class="container">
        <div class="card border-0 rounded-0 p-3 depth">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="{% static 'assets/images/extra-images/promo-large.webp' %}" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <h3 class="fw-bold">New Features of Trending Products</h3>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-transparent px-0">Contrary to popular belief, Lorem Ipsum is not simply
                    random text.</li>
                  <li class="list-group-item bg-transparent px-0">All the Lorem Ipsum generators on the Internet tend.
                  </li>
                  <li class="list-group-item bg-transparent px-0">There are many variations of passages of Lorem Ipsum
                    available.</li>
                    <li class="list-group-item bg-transparent px-0">There are many variations of passages
                      available.</li>
                </ul>
                <div class="buttons mt-4 d-flex flex-column flex-lg-row gap-3">
                  <a href="#" class="btn btn-lg btn-dark btn-ecomm px-5 py-3">Buy Now</a>
                  <a href="#" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    end special product-->


    <!--start Partners-->
    <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Наши партнеры</h3>
        </div>
        <div class="brands">
          <div class="row row-cols-2 row-cols-lg-5 g-4">
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/01.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/02.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/03.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/04.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/05.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/06.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/07.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/08.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/09.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border rounded brand-box">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <img src="{% static 'assets/images/brands/10.webp' %}" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
      </div>
    </section>
    <!--end Partners-->


    <!--
    <section class="cartegory-slider section-padding bg-section-2">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 h3 fw-bold">Top Categories</h3>
          <p class="mb-0 text-capitalize">Select your favorite categories and purchase</p>
        </div>
        <div class="cartegory-box">
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="{% static 'assets/images/categories/01.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Kurtas</h5>
                  <h6 class="mb-0 product-number fw-bold">856 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="{% static 'assets/images/categories/02.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Heels</h5>
                  <h6 class="mb-0 product-number fw-bold">169 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="{% static 'assets/images/categories/03.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Lehenga</h5>
                  <h6 class="mb-0 product-number fw-bold">589 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="{% static 'assets/images/categories/04.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Plazzos</h5>
                  <h6 class="mb-0 product-number fw-bold">278 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="{% static 'assets/images/categories/05.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Makeup</h5>
                  <h6 class="mb-0 product-number fw-bold">985 Products</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="shop-grid-type-4.html">
            <div class="card">
              <div class="card-body">
                <div class="overflow-hidden">
                  <img src="{% static 'assets/images/categories/06.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
                <div class="text-center">
                  <h5 class="mb-1 cartegory-name mt-3 fw-bold">Shoes</h5>
                  <h6 class="mb-0 product-number fw-bold">489 Products</h6>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </section>
    -->


    <!--
    <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 fw-bold">Последнии статьи</h3>
          <p class="mb-0 text-capitalize">проверяйте наши последние новости</p>
        </div>
        <div class="blog-cards">
          <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
              <div class="card">
                <img src="{% static 'assets/images/blog/01.webp' %}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>Virendra</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>15 Aug, 2022</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">Blog title here</h5>
                  <p class="mb-0">Some quick example text to build on the card title and make.</p>
                  <a href="blog-read.html" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'assets/images/blog/02.webp' %}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>Virendra</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>15 Aug, 2022</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">Blog title here</h5>
                  <p class="mb-0">Some quick example text to build on the card title and make.</p>
                  <a href="blog-read.html" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'assets/images/blog/03.webp' %}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>Virendra</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>15 Aug, 2022</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">Blog title here</h5>
                  <p class="mb-0">Some quick example text to build on the card title and make.</p>
                  <a href="blog-read.html" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
    -->


  </div>
  <!--end page content-->

{% endblock %}